*{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.center{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;

}

h{
    
    font-size: 100px;

}

.backgrounddocpage{

    background-image: url();
    background-repeat: no-repeat;
    position: fixed;    

}   

.backgroundcamerapage{

    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(images/dentix.jpg);
    position: fixed;

}

img:hover {
    opacity: 0.5;
}

/*.backgroundmainpage{

    background-color: rgb(189, 189, 189);
    background-image: url();
    background-repeat: repeat-y;
    position: fixed; nm

        
}*/

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 0;
    transition: opacity 0.5s;

}


body.loaded{

    opacity: 1;


}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #000000;
    margin: 0%;
    padding: 0%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    margin: 0%;
  }
  
  li a:hover {
    color: #bebebe;
    text-decoration-line: underline;
  }