*{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.center{

    display: flex;
    justify-content: center;

}

h{
    
    font-size: 100px;

}

.backgrounddocpage{

    background-image: url();
    background-repeat: no-repeat;
    position: fixed;    

}   

.backgroundcamerapage{

    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(images/dentix.jpg);
    position: fixed;

}

img:hover {
    opacity: 0.5;
}

.backgroundmainpage{

    background-color: rgb(189, 189, 189);
    background-image: url();
    background-repeat: repeat-y;
    position: fixed;

}

body{
    
    opacity: 0;
    transition: opacity 0.5s;

}


body.loaded{

    opacity: 1;


}
