*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center{
    display: flex;
    justify-content: center;
}

h{
    font-size: 100px;
}

.background{
    background-color: rgb(88, 88, 88);
    background-image: url();
    background-repeat: repeat-y;
    position: fixed;
}