<!DOCTYPE html>

<html>

<!--
    <link rel="stylesheet" href="../../style.css">
    <link rel="icon" type="image/png" href="../../images/420_icon.jpg"/>
-->
    <script> 
    
        window.onload =function() {
        document.body.classList.add('loaded');};

    </script>

    <style>
        .center{
            display: flex;
            justify-content: center;
        }

    </style>

    <head>

        <title>
            Security Camera - Camera
        </title>

    </head>

    <body >

        <h1 class="center">
        
            <a href="#" onclick="window.location.href = window.history.back(1);">
                <i>
                    Back
                </i>
            </a>
        
        </h1>

        <div>
            <img id="bg" src="{{ url_for('video_feed') }}" style="width:70%;">
        </div>
        
    </body>

</html>