<!DOCTYPE html>

<html>

    <script> 

        window.onload =function() {
        document.body.classList.add('loaded');};
            
    </script>

    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="../images/index.jpg"/>

    <head>

        <title>
            Security Camera - Camera
        </title>

    </head>

    <body class="backgroundpage">
        
        <ul>
            
            <li><a href="../index.html">Home</a></li>
            <li><a href="camerasite.html">Camera</a></li>
            <li><a href="documentation.html">Documentation</a></li>
        </ul>

        <div class="center">
            <img id="bg" src="{{ url_for('video_feed') }}" style="width:70%;">
        </div>

    </body>

</html>