<!DOCTYPE html>

<html>

    <script> 

        window.onload =function() {
        document.body.classList.add('loaded');};
            
    </script>

    <link rel="stylesheet" href="style.css">

    <head>

        <title>
            Security Camera - Camera
        </title>

    </head>

    <body class="backgroundpage center2">

        <h1 class="center">

            <a href="#" onclick="window.location.href = window.history.back(1);">
                <i>
                    Back
                </i>
            </a>

        </h1>

        <div>
            <img id="bg" src="{{ url_for('video_feed') }}" style="width:70%;">
        </div>

    </body>

</html>