*{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.center{
    display: flex;
    justify-content: center;

}

.center2{
    text-align: center;
}

img:hover {
    opacity: 0.5;
}

.backgroundpage{

    background-color: rgb(26, 216, 213);
    background-repeat: repeat-y;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 0;
    transition: opacity 0.5s;

}


body.loaded{

    opacity: 1;


}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #000000;
    margin: 0%;
    padding: 0%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    margin: 0%;
  }
  
  li a:hover {
    color: #bebebe;
    text-decoration-line: underline;
  }